<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.companyname.sattleme"
          android:versionCode="1"
          android:versionName="1.0">
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<application android:label="sattleme.Android" android:theme="@style/MainTheme">
	</application>
</manifest>